/*imports*/
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Lilita+One&family=Roboto+Condensed&display=swap');
/*end of imports*/

/*headings*/
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Caesar Dressing', cursive;
  font-family: 'Lilita One', cursive;
  letter-spacing: 3px;
}

/*end of headings*/

/*for everyone*/
* {
  font-family: 'Caesar Dressing', cursive;
  font-family: 'Lilita One', cursive;
  font-family: 'Roboto Condensed', sans-serif;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.column {
  padding: 0;
  float: left;
}


/*end of for everyone*/

/*Turnded off*/
#updateItem {
  display: none;
}

#category {
  display: none;
}


#newItem {
  display: none;
}

/*end of turnded off*/

/*view items*/
.items .addBtn {
  position: absolute;
  top: 22vh;
  right: 30px;

  width: 200px;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 10px;
  box-shadow: 5px 5px 15px -3px #000;
}

.items .addBtn:hover {
  box-shadow: 0 0 5px #000, 0 0 25px #000, 0 0 50px #000, 0 0 200px #000;
}

.items .addBtn .text {
  font-size: 18px !important;
  margin-top: 10px !important;
}

.sideNav {
  position: fixed;
  top: 40px;
  left: 30px;
  height: 100vh;
  width: 17%;
  background-color: whitesmoke;
  box-shadow: 5px 5px 15px -3px #000;
  z-index: 10;
  overflow-y: auto;
}

.sideNav .sideNav_btn {
  margin: 20px;
}

.sideNav .sideNav_btn button {
  width: 100%;
  margin-bottom: 10px;
  padding: 6px 0;

  cursor: pointer;
  outline: none;
  border: none;
  background: white;
  box-shadow: 2px 2px 10px -7px #000;
}

.sideNav h1 {
  background-image: url("./Assets/Images/bg.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 10px 0;
  color: white;
  text-shadow: 5px 5px 15px #000;
  text-align: center;
  margin: 10px 0;
}

.sideNav .cat {
  display: block;
}

.sideNav .cat2 {
  display: none;
}

.sideNav li,
.items .addBtn li {
  display: inline;
}

.sideNav ul,
.items .addBtn ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 10px;
  width: 100%;
  /* to remove default bullets */
}

.sideNav li,
.items .addBtn li {
  float: left;
  width: auto;
  padding-right: 0;
}

.sideNav ul img,
.items .addBtn img {
  width: 35px;
}

.sideNav ul .text,
.items .addBtn .text {
  margin-top: 5px;
  margin-left: 10px;
  font-size: 13px;
}

.all-items,
#category {
  margin-left: 21%;
  width: 80%;
  margin-top: 22vh;
}



header {
  background-image: url("./Assets/Images/bg.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

header .bg {
  width: 100%;
  background-color: #000;
  opacity: 0.8;

  text-align: center;
  height: 100%;
}


header .hText {
  position: absolute;
  left: 40%;
  top: 8vh;
  color: white;
  margin-left: 30px;

  z-index: 99;
}

header h1 {
  font-size: 50px;
}

.column {
  width: 30%;
  padding: 10px;
}


h1 {
  font-size: 40px;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 10px 0;
}

.card {
  width: 100%;
  margin: 0px;
  padding: 0;
  background: whitesmoke;
  box-shadow: 2px 2px 10px -7px #000;
  position: relative;
}




.all-items li {
  display: inline;
}

.all-items ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 10px;
  width: 100%;
  /* to remove default bullets */
}

.all-items li {
  float: left;
  width: auto;
  padding-right: 0;
}

.card .itemImg {
  width: 60px;
  position: absolute;
  top: -10px;
}

.card-btns {
  position: absolute;
  right: 10px;
  top: -10px;
}

.card-btns button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

.card-btns button img {
  width: 35px;
}

.card-content {
  position: relative;
  padding: 60px 20px 20px 20px !important;
}

.card-content span {
  font-family: 'Caesar Dressing', cursive;
  font-family: 'Lilita One', cursive;
  letter-spacing: 3px;
  font-size: 20px;
}

/*end of view items*/


/*Add Item*/


/*Popup*/
.box {
  background-color: #f8f8f8;
  /* top: 20px; */
  width: 400px;
  height: 400px;
  z-index: 99;
  padding: 50px;
  margin: 20px;
  position: relative;
  box-shadow: 0 0 3px #363636, 0 0 15px #000, 0 0 30px #000, 0 0 100px #000;
  border-radius: 1.5em;
}

#newItem {
  height: 90%;

}

.box img {
  width: 30px;
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 30px;
}

.box img:hover {
  filter: drop-shadow(5px 5px 5px #a80202);
}

.add-new-item {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: rgba(19, 19, 19, 0.788);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  font-size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

}

.mypopup .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.box .close {
  width: 20px;
  float: right;
}

.box .close:hover {
  filter: drop-shadow(5px 5px 5px #ff0101);
}

.box .add-form {
  margin-top: 30px;
  width: 100%;
}

.box .add-form input {
  width: 95%;
  padding: 15px 10px;
  margin-bottom: 15px;
  border: 2px solid #000;
  outline: none;
}

.box .add-form select {
  width: 60%;
  padding: 15px 10px;
  margin-bottom: 15px;
  border: 2px solid #000;
  outline: none;
}

.box .add-form button {
  width: 100%;
  padding: 15px 10px;
  margin-top: 20px;
  border: none;
  outline: none;
  background-color: #000;
  color: white;
}

/*End of popup*/

/*end of Add Item*/

/*Media*/
@media screen and (width <=700px) {

  /*view items*/
  .items .addBtn {
    position: absolute;
    top: 16vh;
    right: 10px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 3px solid #4d65fd;
    padding: 5px;
    box-shadow: 5px 5px 15px -3px #000;
  }

  .items .addBtn .text {
    font-size: 18px !important;
    margin-top: 10px !important;
  }

  .sideNav {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 101vh;
    width: 20%;
  }

  .sideNav .sideNav_btn {
    margin: 10px;
  }

  .sideNav .cat {
    display: none;
  }

  .sideNav .cat2 {
    display: block;
  }

  .items .addBtn img {
    width: 30px;
  }

  .sideNav ul img,
  .items .addBtn img {
    width: 35px;
  }

  .sideNav ul .text,.items .addBtn .text {
    display: none;
  }

  .all-items,
  #category {
    margin-left: 25%;
    width: 75%;
    margin-top: 17vh;
  }

  header {
    height: 15vh;
    width: 98%;
  }

  header .hText {
    position: absolute;
    left: 18%;
    top: 9vh;
  }

  header h1 {
    font-size: 30px;
  }

  .column {
    width: 95%;
    padding: 12px 0;
  }

  h1 {
    font-size: 35px;

  }


  .card .itemImg {
    width: 55px;
  }


  .card-btns button img {
    width: 30px;
  }

  .card-content {
    position: relative;
    padding: 50px 20px 20px 20px !important;
  }

  /*end of view items*/
}

/*End of media*/